.favoritos {
  position: fixed;
  top: 20%;
  right: calc(-300px);
  transition: 500ms;
  z-index: 10;
}

.favoritos.on {
  right: 0;
}

.boxFavoritos {
  width: 300px;
  height: 500px;
  border: 2px solid #53388D;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 15px 0 0 15px;
  position: relative;
  background-color: #C0C0C0;
  color: #53388D;
}

.botonAbrir {
  width: 90px;
  position: absolute;
  top: 50%;
  left: calc(-62px);
  rotate: -90deg;
  border-color: #53388D;
  background-color: #53388D;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px 15px 1px 1px;
  transition: 0.3s;
  scale: 1.1;
  font-size: 1.1rem;
}


.botonAbrir:hover {
  background-color: #520ca1;
}

.boxPokemon {
  padding: 10px 0;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
  gap: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* #CC7722 color oscreeee */

/* C0C0C0 color fondo platica */
