.sidebar {
  background-color: var(--bg-color);
  width: 80px;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 500ms;
  position: relative;
  border-right: 2px solid #53388D;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.sidebar.on {
  width: 300px;
}


.btnSidebar {
  position: absolute;
  right: calc(-20px);
  height: 35px;
  top: 50%;
  color: #53388D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: var(--bg-color);
  border: 2px solid #53388D;
  border-radius: 5px;
  cursor: pointer;
  transition: 500ms;
}
